div{
    background-image: linear-gradient(0deg, rgba(231,119,192,1) 0%, rgba(253,103,45,1) 100%);
}

.animate__heartBeat{
    width: 100px;
    border-radius: 4rem;
}
.estiloImagenes{

    border-radius: 1rem;
    margin: 1rem;
}
.titulos{
    color: rgb(20, 20, 20);
    font-size: 2rem;
    margin: 0.5rem;
}

.reproductor{
    display: none;
justify-content: center;
}

@media screen and (min-width: 600px) {

    .reproductor{
    display: block;
    grid-area: reproductor;
    }
}